/* Navbar Container */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: black;
    height: auto;
}


.navbar img {
    height: 100px; 
    width: auto; 
    border-radius: 4px; 
}


.links-container {
    display: flex;
    align-items: center;
}


a {
    margin-left: 20px; 
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

a:first-child {
    margin-left: 0; 
}

a:hover {
    background-color: #555;
}
